body {
  background-color: #f9f7fe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 30px;
  color: #272044;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px 0px;
}
h2 {
  margin: 0 0 5px;
  font-size: 27px;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #132743;
  opacity: 0.7;
}
a {
  text-decoration: none;
  color: rgb(116, 63, 120);
  font-weight: bold;
}
select {
  padding: 10px;
  width: 100%;
  margin: 20px 0px;
  font-size: 15px;
  border-radius: 5px;
  border-color: #d4d3d9;
  display: block;
}
.container {
  max-width: 450px;
  background: white;
  margin: 60px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(107, 107, 121, 0.2) 0px 7px 29px 0px;
}
.cityInfo {
  color: #272044;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed #d4d3d9;
  align-items: center;
}
.cityInfo:last-child {
  border: none;
}
.logo {
  max-width: 130px;
  display: inline;
  margin: 0px 0px 0px 130px;
}
.date {
  opacity: 0.5;
  font-size: 15px;
}
.time {
  font-size: 35px;
  font-weight: bold;
}
.amPm {
  font-size: 15px;
  vertical-align: middle;
}
